div.image_container {
    background-color: #999;
    width: 3git asdsadv hg00px;
    height: 300px;
    display: inline-block;
    overflow: hidden;
}

div.image_container img {
    height: 100%;
}
.table-wrapper {
    max-height: 300px;
    overflow: auto;
    display:inline-block;
  }
  .table-earnings {
      background: #F3F5F6;
  }
  